.hr {
    width: 0px;
    height: 40px;
    border: 1px solid black;
    margin-right: 135px;
    margin-top: 30px;
}

.rating{
    display: flex;
}

.star{
    width: 90px;
    height: 25px;
    padding-bottom: 10px;
}

.price {
    width: 60px;
    background-color: rgb(81, 81, 209);
    position: absolute;
    left: 270px;
    top: 10px;
    padding-left: 20px;
    color: white;
}

.images {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}


.img_con {
    position: relative;
    width: 330px;
    text-align: left;
    margin: 20px;
    margin-left: 20px;
    border: 1px solid rgb(228, 226, 226);
    border-bottom: 5px solid rgb(228, 226, 226);
    height: 380px;
    align-items: center;
    overflow: hidden;
    transition: 0.7s;
    cursor: pointer;
}

img {
    width: 350px;
    height: 230px;
    transition: transform 0.3s ease-in-out;
}

.img_detail {
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s ease-in-out;
}

.img_detail p {
    margin: 5px 0;
}

.img_con:hover .img_detail {
    opacity: 1;
}

.img_con:hover img {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.5);
}

